
<div class="login">
    <div class="container sm:px-10">
        <div class="block xl:grid grid-cols-2 gap-4">
            <!-- BEGIN: Login Info -->
            <div class="hidden xl:flex flex-col min-h-screen">
                <a href="" class="-intro-x flex items-center pt-5">
                    <img alt="Midone - HTML Admin Template" class="w-6" src="assets/images/logo.svg">
                    <span class="text-white text-lg ml-3"> Rubick </span>
                </a>
                <div class="my-auto">
                    <img alt="Midone - HTML Admin Template" class="-intro-x w-1/2 -mt-16" src="assets/images/illustration.svg">
                    <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
                      Encore quelques clics pour
                        <br>
                        vous connecter à votre compte.
                    </div>
                    <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400">Gérez tous vos comptes e-commerce en un seul endroit</div>
                </div>
            </div>
            <!-- END: Login Info -->
            <!-- BEGIN: Login Form -->
            <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                    <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
                        Se connecter
                    </h2>
                    <div class="intro-x mt-2 text-slate-400 xl:hidden text-center">Encore quelques clics pour
                      vous connecter à votre compte.. Gérez tous vos comptes e-commerce en un seul endroit</div>
                    <form [formGroup]="formualireAuth">
                      <div class="intro-x mt-8">
                          <input type="text" class="intro-x login__input form-control py-3 px-4 block {{formualireAuth.controls['email'].invalid && formualireAuth.controls['email'].dirty ? 'incorectData' : ''}}" placeholder="Email" formControlName="email">
                          <!-- <div *ngIf="formualireAuth.controls['email'].invalid && formualireAuth.controls['email'].dirty" class="alert alert-danger" role="alert">
                            L'adresse mail n'est pas correcte
                          </div> -->
                          <input type="password" class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="Password" formControlName="passWord">
                      </div>
                      <div class="intro-x flex text-slate-600 dark:text-slate-500 text-xs sm:text-sm mt-4">
                          <div class="flex items-center mr-auto">
                              <input id="remember-me" type="checkbox" class="form-check-input border mr-2">
                              <label class="cursor-pointer select-none" for="remember-me">Se souvenir de moi</label>
                          </div>
                          <a href="">Mot de passe oublié?</a>
                      </div>
                      <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                          <button [disabled]="formualireAuth.invalid" class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top" (click)="login()">Connexion</button>
                          <button class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top">Enregistrer</button>
                      </div>
                    </form>
                    <div class="intro-x mt-10 xl:mt-24 text-slate-600 dark:text-slate-500 text-center xl:text-left"> En vous inscrivant, vous acceptez nos <a class="text-primary dark:text-slate-200" href="">Termes et Conditions</a> & <a class="text-primary dark:text-slate-200" href="">Politique de confidentialité</a> </div>
                </div>
            </div>

            <!-- END: Login Form -->
        </div>
    </div>
    <!-- BEGIN: Dark Mode Switcher-->
    <div data-url="login-dark-login.html" class="dark-mode-switcher cursor-pointer shadow-md fixed bottom-0 right-0 box border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 mr-10">
        <div class="mr-4 text-slate-600 dark:text-slate-200">Mode sombre</div>
        <div class="dark-mode-switcher__toggle border"></div>
    </div>
    <!-- END: Dark Mode Switcher-->

    <!-- BEGIN: JS Assets-->
    <!-- <script src="assets/js/app.js"></script> -->
    <!-- END: JS Assets-->
</div>
